/* Color palette based on https://www.nordtheme.com/ */

:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
    background-color: var(--nord0);
}

.ju-inductive {
    color: var(--nord14);
}

.ju-constructor {
    color: var(--nord15);
}

.ju-function {
    color: var(--nord13);
}

.ju-axiom {
    color: var(--nord11);
}

.ju-string {
    color: var(--nord11);
}

.ju-keyword {
    color: var(--nord9);
}

.ju-delimiter {
    color: var(--nord10);
}

.ju-var {
    color: var(--nord4);
}

.ju-fixity {
    color: var(--nord12);
}

.ju-comment {
    color: #83898d;
}

.ju-judoc {
    color: var(--nord7);
}

.ju-number {
    color: var(--nord4);
}

.ju-meta {
    color: var(--nord6);
}

.ju-define {
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a.hover-highlight {
    background-color: var(--nord3);
}

footer {
    color: var(--nord4)
}

footer a {
    color: var(--nord4);
    font-size: small;
    font-weight: bold;
}
