/* Color palette based on https://github.com/catppuccin/catppuccin#-palette */

:root {
  --ctp-frappe-rosewater: #f2d5cf;
  --ctp-frappe-flamingo: #eebebe;
  --ctp-frappe-pink: #f4b8e4;
  --ctp-frappe-mauve: #ca9ee6;
  --ctp-frappe-red: #e78284;
  --ctp-frappe-maroon: #ea999c;
  --ctp-frappe-peach: #ef9f76;
  --ctp-frappe-yellow: #e5c890;
  --ctp-frappe-green: #a6d189;
  --ctp-frappe-teal: #81c8be;
  --ctp-frappe-sky: #99d1db;
  --ctp-frappe-sapphire: #85c1dc;
  --ctp-frappe-blue: #8caaee;
  --ctp-frappe-lavender: #babbf1;
  --ctp-frappe-text: #c6d0f5;
  --ctp-frappe-subtext1: #b5bfe2;
  --ctp-frappe-subtext0: #a5adce;
  --ctp-frappe-overlay2: #949cbb;
  --ctp-frappe-overlay1: #838ba7;
  --ctp-frappe-overlay0: #737994;
  --ctp-frappe-surface2: #626880;
  --ctp-frappe-surface1: #51576d;
  --ctp-frappe-surface0: #414559;
  --ctp-frappe-base: #303446;
  --ctp-frappe-mantle: #292c3c;
  --ctp-frappe-crust: #232634;
}

body {
    background-color: var(--ctp-frappe-base);
}

.ju-inductive {
    color: var(--ctp-frappe-green);
}

.ju-constructor {
    color: var(--ctp-frappe-mauve);
}

.ju-function {
    color: var(--ctp-frappe-yellow);
}

.ju-axiom {
    color: var(--ctp-frappe-red);
}

.ju-string {
    color: var(--ctp-frappe-flamingo);
}

.ju-keyword {
    color: var(--ctp-frappe-sky);
}

.ju-delimiter {
    color: var(--ctp-frappe-overlay2);
}

.ju-var {
    color: var(--ctp-frappe-text);
}

.ju-fixity {
    color: var(--ctp-frappe-sapphire);
}

.ju-comment {
    color: var(--ctp-frappe-rosewater);
}

.ju-judoc {
    color: var(--ctp-frappe-teal);
}

.ju-number {
    color: var(--ctp-frappe-subtext1);
}

.ju-define {
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a.hover-highlight {
    background-color: var(--ctp-frappe-mantle);
}

footer {
    color: var(--ctp-frappe-subtext1);
}

footer a {
    color: var(--ctp-frappe-subtext1);
    font-size: small;
    font-weight: bold;
}
