/* Color palette based on https://github.com/catppuccin/catppuccin#-palette */

:root {
  --ctp-latte-rosewater: #dc8a78;
  --ctp-latte-flamingo: #dd7878;
  --ctp-latte-pink: #ea76cb;
  --ctp-latte-mauve: #8839ef;
  --ctp-latte-red: #d20f39;
  --ctp-latte-maroon: #e64553;
  --ctp-latte-peach: #fe640b;
  --ctp-latte-yellow: #df8e1d;
  --ctp-latte-green: #40a02b;
  --ctp-latte-teal: #179299;
  --ctp-latte-sky: #04a5e5;
  --ctp-latte-sapphire: #209fb5;
  --ctp-latte-blue: #1e66f5;
  --ctp-latte-lavender: #7287fd;
  --ctp-latte-text: #4c4f69;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-latte-surface2: #acb0be;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-latte-surface0: #ccd0da;
  --ctp-latte-base: #eff1f5;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-latte-crust: #dce0e8;
}

body {
    background-color: var(--ctp-latte-base);
}

.ju-inductive {
    color: var(--ctp-latte-green);
}

.ju-constructor {
    color: var(--ctp-latte-mauve);
}

.ju-function {
    color: var(--ctp-latte-yellow);
}

.ju-axiom {
    color: var(--ctp-latte-red);
}

.ju-string {
    color: var(--ctp-latte-flamingo);
}

.ju-keyword {
    color: var(--ctp-latte-sky);
}

.ju-delimiter {
    color: var(--ctp-latte-overlay2);
}

.ju-var {
    color: var(--ctp-latte-text);
}

.ju-fixity {
    color: var(--ctp-latte-sapphire);
}

.ju-comment {
    color: var(--ctp-latte-rosewater);
}

.ju-judoc {
    color: var(--ctp-latte-teal);
}

.ju-number {
    color: var(--ctp-latte-subtext1);
}

.ju-define {
    font-weight: bold;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a.hover-highlight {
    background-color: var(--ctp-latte-mantle);
}

footer {
    color: var(--ctp-latte-subtext1);
}

footer a {
    color: var(--ctp-latte-subtext1);
    font-size: small;
    font-weight: bold;
}
