/* Color palette based on https://github.com/ayu-theme/ayu-colors */
body {
    background-color: #f8f9fa;
}

.ju-inductive {
    color: #86b300;
}

.ju-constructor {
    color: #a37acc;
}

.ju-function {
    color: #f2ae49;
}

.ju-axiom {
    color: #f07171;
}

.ju-string {
    color: #f07171;
}

.ju-keyword {
    color: #399ee6;
}

.ju-delimiter {
    color: #787b80;
}

.ju-comment {
    color: #ba919966;
}

.ju-judoc {
    color: #8b2252;
}

.ju-var {
    color: #5c6166;
}

.ju-fixity {
    color: #ed9366;
}

.ju-number {
    color: #000000;
}

.ju-define {
    font-weight: bold;
}

a:hover,
a.hover-highlight {
    background-color: #dadbdc;
}

a:link,
a:visited {
    text-decoration: none;
}

footer {
    color: gray
}

footer a {
    color: gray;
    font-size: small;
    font-weight: bold;
}
