body {
    margin: 70px;
    width: 50%;
    font-size: 1.2em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-bottom: .1em;
}
p {
    line-height: 1.4em;
    color: #333;
    text-align: justify;

}
p.subtitle {
    margin-top: initial;
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}

pre {
    font-size: .95rem;
    text-overflow: clip;
    line-height: 1rem;
    width: 50%;
    font-family: "Menlo","Inconsolata","Consolas","Roboto Mono","Ubuntu Mono","Liberation Mono","Courier New",monospace;
}

.changelog {
    color: darkgray;
    min-width: 700px;
}

.powerby {
    font-size: .8em;
    line-height: .9em;
    color:#999;
    min-width: 700px;
}

.powerby p {
 line-height: .1em;
}

.authorship{
    font-style: italic;
}

.authorship p {
    line-height: .2em;
    color: rgb(44, 44, 44);
    font-size: .9em;
}

.abstract {
    font-size: smaller;
    color: gray;
    margin-left: 20px;
}