/* Color palette based on https://www.nordtheme.com/ */
body {
	  background-color: #2e3440;
}

.ju-inductive {
	  color: #a3be8c;
}

.ju-constructor {
	  color: #b48ead;
}

.ju-function {
	  color: #ebcb8b;
}

.ju-axiom {
	  color: #bf616a;
}

.ju-keyword {
	  color: #81a1c1;
}

.ju-delimiter {
	  color: #5e81ac;
}

.ju-var {
    color: #d8dee9
}

.ju-number {
    color: #d8dee9
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a.hover-highlight {
	background-color: #4c566a;
}

span.annot{
    position:relative;
    color:#000;
    text-decoration:none
  }

span.annot:hover{z-index:25; background-color:#ff0}

span.annot span.annottext{
  display: none;
  border-radius: 5px 5px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

  position: absolute;
  left: 1em; top: 2em;
  z-index: 99;
  margin-left: 5;
  background: #FFFFAA;
  border: 2px solid #FFAD33;
  padding: 0.8em 1em;
}

span.annot:hover span.annottext{
  display:block;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
span.annot span.annottext:before{
  content: "";
  position: absolute;
  left: -1em; top: -1em;
  background: #FFFFFF00;
  z-index:-1;
  padding: 2em 2em;
}
