.hljs-meta {
  color: coral;
}

.hljs-inductive {
  color: #86b300;
}

.hljs-number {
  color: #00a822;
}

.hljs-function {
  color: #d78810;
}

.hljs-symbol {
  color: #d78810;
}

.hljs-string {
  color: #f07171;
}

.hljs-keyword {
  color: #399ee6;
}
