name: The Juvix compiler CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - review_requested
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  STACKFLAGS: --pedantic

jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mrkkrp/ormolu-action@v6
        with:
          extra-args: >-
            --ghc-opt -XDerivingStrategies
            --ghc-opt -XImportQualifiedPost
            --ghc-opt -XMultiParamTypeClasses
            --ghc-opt -XStandaloneDeriving
            --ghc-opt -XTemplateHaskell
            --ghc-opt -XUnicodeSyntax

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jidicula/clang-format-action@v4.9.0
        with:
          clang-format-version: '15'
          check-path: 'runtime/src'

  hlint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: 'Set up HLint'
      uses: rwe/actions-hlint-setup@v1
      with:
        version: '3.4'
    - name: 'Run HLint'
      uses: rwe/actions-hlint-run@v2.0.1
      with:
        path: '["src/", "app/", "test/"]'
        fail-on: warning

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          trailing-whitespace --all-files
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          end-of-file-fixer --all-files
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          check-yaml --all-files
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          check-added-large-files --all-files
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          check-case-conflict --all-files
    - uses: pre-commit/action@v3.0.0
      with:
        extra_args:
          mixed-line-ending --all-files

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12]
        ghc: ["9.2.5"]
        cabal: ["3.6.2.0"]
    steps:
      - name: Checkout our repository
        uses: actions/checkout@v2
        with:
          path: main
          submodules: true

      # - uses: actions/cache@v3
      #   with:
      #     path: |
      #       ~/.cabal/store
      #       dist-newstyle
      #     key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
      #     restore-keys: |
      #       ${{ runner.os }}-${{ matrix.ghc }}-

      - uses: haskell/actions/setup@v2
        name: Setup Haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - run: cabal update

      - name: Cache LLVM and Clang (Linux)
        if: runner.os == 'Linux'
        id: cache-llvm
        uses: actions/cache@v3
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: ${{ runner.os }}-llvm-13

      - name: Install LLVM and Clang (Linux)
        if: runner.os == 'Linux'
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "13.0"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}

      - name: Set homebrew LLVM CC and LIBTOOL vars (macOS)
        if: runner.os == 'macOS'
        run: |
          echo "CC=$(brew --prefix llvm@14)/bin/clang" >> $GITHUB_ENV
          echo "LIBTOOL=$(brew --prefix llvm@14)/bin/llvm-ar" >> $GITHUB_ENV

      - name: Build Project (macOS)
        if: runner.os == 'macOS'
        run: |
          cd main
          make CC=$CC LIBTOOL=$LIBTOOL build

      - name: Build Project (Linux)
        if: runner.os == 'Linux'
        run: |
          cd main
          make build

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-12]
        ghc: ["9.2.5"]
        cabal: ["3.6.2.0"]
    steps:
      - name: Checkout the main repository
        uses: actions/checkout@v2
        with:
          path: main
          submodules: recursive

      # - uses: actions/cache@v3
      #   with:
      #     path: |
      #       ~/.cabal/store
      #       dist-newstyle
      #     key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
      #     restore-keys: |
      #       ${{ runner.os }}-${{ matrix.ghc }}-

      - uses: haskell/actions/setup@v2
        name: Setup Haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - run: cabal update

      - name: Cache LLVM and Clang (Linux)
        if: runner.os == 'Linux'
        id: cache-llvm
        uses: actions/cache@v3
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: ${{ runner.os }}-llvm-13

      - name: Install LLVM and Clang (Linux)
        if: runner.os == 'Linux'
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "13.0"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}

      - name: Download and extract wasi-sysroot
        run: |
          curl https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-15/wasi-sysroot-15.0.tar.gz -OL
          tar xfv wasi-sysroot-15.0.tar.gz

      - name: Set WASI_SYSROOT_PATH
        run: |
          echo "WASI_SYSROOT_PATH=$GITHUB_WORKSPACE/wasi-sysroot" >> $GITHUB_ENV

      - name: Setup Wasmer
        uses: wasmerio/setup-wasmer@v1

      - name: Set homebrew LLVM CC and LIBTOOL vars (macOS)
        if: runner.os == 'macOS'
        run: |
          echo "CC=$(brew --prefix llvm@14)/bin/clang" >> $GITHUB_ENV
          echo "LIBTOOL=$(brew --prefix llvm@14)/bin/llvm-ar" >> $GITHUB_ENV

      - name: Add homebrew clang to the PATH (macOS)
        if: runner.os == 'macOS'
        run: |
          echo "$(brew --prefix llvm@14)/bin" >> $GITHUB_PATH

      - name: Test suite (macOS)
        if: runner.os == 'macOS'
        run: |
          cd main
          make CC=$CC LIBTOOL=$LIBTOOL test

      - name: Test suite (linux)
        id: test
        if: runner.os == 'Linux'
        run: |
          cd main
          make test

      - run: echo "$HOME/.cabal/bin" >> $GITHUB_PATH

      - name : Shell tests (Linux)
        id: shell-tests
        if: runner.os == 'Linux'
        run : |
          cd main
          echo "$GITHUB_WORKSPACE/.local/bin" >> $GITHUB_PATH
          make test-shell

  docs:
    needs: build
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    strategy:
      matrix:
        os: [ubuntu-20.04]
        ghc: ["9.2.5"]
        cabal: ["3.6.2.0"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout our repository
        uses: actions/checkout@v2
        with:
          path: main
          submodules: recursive

      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.13'

      - name: MDBook setup
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: 'latest'

      # - uses: actions/cache@v3
      #   with:
      #     path: |
      #       ~/.cabal/store
      #       dist-newstyle
      #     key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
      #     restore-keys: |
      #       ${{ runner.os }}-${{ matrix.ghc }}-

      - uses: haskell/actions/setup@v2
        name: Setup Haskell
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - run: cabal update

      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: actions/cache@v3
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: ${{ runner.os }}-llvm-13

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "13.0"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}

      - name: Generate Markdown files for each Org file
        run: |
          cd main
          make markdown-docs

      - run: echo "$HOME/.cabal/bin" >> $GITHUB_PATH

      - name : Generate HTML and Web App files from milestone examples
        run : |
          cd main
          echo "$GITHUB_WORKSPACE/.local/bin" >> $GITHUB_PATH
          make install
          make html-examples
          make webapp-examples

      - name: Deploy HTML to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: main/_docs
          enable_jekyll: false
          cname: docs.juvix.org
